header{
  display:grid;
  grid-template-columns: 1fr  1fr;
  background-color: #495E57;
  align-items: center;
  padding: 5vh;
}
header h2{
  color:#F4CE14;
  font-size: 44px;
}
header p{
  color: #EDEFEE;
  font-size: 22px;
}

.banner p{
  font-size:20px;
max-width: 520px;
line-height: 1.5;
margin-bottom: 30px;}

.banner-img img {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  width: 350px;

  border-radius: 15px;
  margin-left: 15vh;
  margin-top: 5vh;
  margin-bottom: 5vh;

}

header button {
  background-color: #F4CE14;
  color: black;
  padding: 14px 18px;
  border: none;
  text-decoration: none;
  border-radius: 12px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}